.main-section.-color2 {
  background-color: #7b2cbf;
}

.main-section.-historia{
  height: auto;
  display: flex;
  justify-content: center;
  border-bottom: 0.2rem solid #6e4455;
}

.main-section.-historia h3 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: #ccc;
  text-shadow: 0.2rem 0 0 purple;
  margin-bottom: 2rem;
}

.historia-container {
  padding: 3rem;
}

.main-historia p {
  display: flex;
  align-items: baseline;
  color: #ccc;
}