@media (min-height: 1000px) {
  .main-section.-home
   {
    height: 39.5vh;
   }

   .slide img{
    max-width: 100vh;
    max-height: 25rem;
  }

} 

@media (min-height: 700px) {
  .main-section.-home{
    height: 37.5vh;
   }

   .slide img{
    max-width: 100vh;
    max-height: 25.5rem;
  }
} 


@media (max-width: 1000px){
  .main-section.-home {
    height: 39.5vh;
   }

   .slide img{
    max-width: 100vh;
    max-height: 27rem;
  } 
  .navigation-manual {
    margin-top: 10rem !important;
  }

}

@media (max-width: 700px) {
  .main-section.-home{
    height: 37.5vh;
   }

   .slide img{
    max-width: 100vh;
    max-height: 26rem;
  }
  .navigation-manual {
    margin-top: 9rem !important;
  }
} 