* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 62.5%;
  scroll-behavior: smooth;
}
/* solution problem respons */


img { 
  max-width:100%;
	height:auto;
} 

.main-section {
  height: 100vh;
}

.color1 {
  background-color: red;
}

.color2 {
  background-color: black
}

.color3 {
  background-color: yellow;
}

