* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Limelight', cursive;
}
/* solution problem respons */


img { 
  max-width:100%;
	height:auto;
} 

.main-section {
  height: 100vh;
}

.-color3 {
  background-color: #FF8800;
}

.main-section.-contatos {
  
}

