* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 62.5%;
}

@media (max-width: 630px) {
  .main-section.-home
   {
    height: 60vh;
   }
}

.main-section {
  height: 100vh;
}

.top-home {
  height: 100%;
  position: relative
}

.slider-home {
  margin: 1.7rem 0 0 auto;
}

.slider-home input {
  display: none;
}

.slider-home label {
  background-color: #000;
  bottom: 1rem;
  cursor: pointer;
  display: block;
  height: 1rem;
  position: absolute;
  width: 1rem;
  z-index: 10;
}

.slider-home li:nth-child(1) label {
  left: 1rem;
}

.slider-home li:nth-child(2) label {
  left: 4rem;
}

.slider-home li:nth-child(3) label {
  left: 7rem;
}

.slider-home img {
  opacity: 0;
  visibility: hidden;
}

.slider-home li input:checked ~ .img-size {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.slider-home li {
  list-style: none;
}

.slider-home .img-size {
  width: 100%;
  max-height: 100%;
  vertical-align: top;
  position: absolute;
}





.color1 {
  background-color: red;
}

.color2 {
  background-color: black
}

.color3 {
  background-color: yellow;
}