.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 1.5rem;
  padding-right: 2.5em;
  font-family: 'Limelight', cursive;
  
}

.header-name {
  color: purple;
}

.header-secundary {
  display: flex;
  align-items: center;
}

.header-secundary p {
  margin-left: 1.5rem;
  
}

.effect-header-secundary {
  text-decoration: none;
  position: relative;
  color: purple;
  font-size: 1.1rem;
}

.effect-header-secundary::after {
  content: "";
  position: absolute;
  top: 2rem;
  background-color: purple;
  height: 0.1rem;
  width: 0;
  left: 50%;
  transition: all 500ms ease-in-out;
}

.effect-header-secundary:hover::after {
  width: 50%;
  left: 25%;
}
